<h1>
  <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home" class="cd-site-logo">
    <span class="visually-hidden">{{ site_name }}</span>
    <img class="ocha-logo" src="/themes/custom/whd/img/logos/ocha-logo.svg" alt="{{ 'OCHA logo'|t }}" />
    <img class="whd-logo" src="{{ site_logo }}" alt="{{ 'Home'|t }}" />
  </a>
</h1>
