<style>
    #section-petition::before {
        background-image: url({{content.field_background_image}});
    }
</style>
<section id="section-petition" class="page site-section">
    <div id="petition-carousel" class="carousel slide">
        <div class="carousel-inner" role="listbox">
            <div class="item sign active">
                <article>
                    {{content.field_panel_1_body}}
                    <p class="btn btn-cta visible-sm-block visible-xs-block" id="sign-petition-cta">
                        {{content.field_sign_petition_cta}}
                    </p>
                </article>
            </div>
            <div class="item info">
                <article>
                    {{content.field_panel_2_body}}
    <form id="petition-form">
        <p id="petition-open" class="btn btn-cta col-xs-12 form-element" track-click data-ga-category="Petition" data-ga-action="Click" data-ga-label="Petition: Read The Full Petition">{{content.field_full_petition_cta}}</p>
        <input id="petition-form-first-name" placeholder="{{content.field_form_first_name_label}}" class="col-xs-6 form-element">
        <input id="petition-form-last-name" placeholder="{{content.field_form_last_name_label}}" class="col-xs-6 form-element">
        <input id="petition-form-email" placeholder="{{content.field_form_email_label}}" type="email" class="col-xs-12 form-element">
        <div id="petition-form-country" class="col-xs-6 form-element">
            <select class="selectpicker dropup" data-dropup-auto="false">
                <option data-flag="">{{content.field_form_country_label}}</option>
                <option data-flag="🇦🇫">Afghanistan</option>
                <option data-flag="🇦🇱">Albania</option>
                <option data-flag="🇩🇿">Algeria</option>
                <option data-flag="🇦🇩">Andorra</option>
                <option data-flag="🇦🇴">Angola</option>
                <option data-flag="🇦🇬">Antigua and Barbuda</option>
                <option data-flag="🇦🇷">Argentina</option>
                <option data-flag="🇦🇲">Armenia</option>
                <option data-flag="🇦🇺">Australia</option>
                <option data-flag="🇦🇹">Austria</option>
                <option data-flag="🇦🇿">Azerbaijan</option>
                <option data-flag="🇧🇸">Bahamas</option>
                <option data-flag="🇧🇭">Bahrain</option>
                <option data-flag="🇧🇩">Bangladesh</option>
                <option data-flag="🇧🇧">Barbados</option>
                <option data-flag="🇧🇾">Belarus</option>
                <option data-flag="🇧🇪">Belgium</option>
                <option data-flag="🇧🇿">Belize</option>
                <option data-flag="🇧🇯">Benin</option>
                <option data-flag="🇧🇹">Bhutan</option>
                <option data-flag="🇧🇴">Bolivia (Plurinational State of)</option>
                <option data-flag="🇧🇦">Bosnia and Herzegovina</option>
                <option data-flag="🇧🇼">Botswana</option>
                <option data-flag="🇧🇷">Brazil</option>
                <option data-flag="🇧🇳">Brunei Darussalam</option>
                <option data-flag="🇧🇬">Bulgaria</option>
                <option data-flag="🇧🇫">Burkina Faso</option>
                <option data-flag="🇧🇮">Burundi</option>
                <option data-flag="🇨🇻">Cabo Verde</option>
                <option data-flag="🇰🇭">Cambodia</option>
                <option data-flag="🇨🇲">Cameroon</option>
                <option data-flag="🇨🇦">Canada</option>
                <option data-flag="🇨🇫">Central African Republic</option>
                <option data-flag="🇹🇩">Chad</option>
                <option data-flag="🇨🇱">Chile</option>
                <option data-flag="🇨🇳">China</option>
                <option data-flag="🇨🇴">Colombia</option>
                <option data-flag="🇰🇲">Comoros</option>
                <option data-flag="🇨🇬">Congo</option>
                <option data-flag="🇨🇷">Costa Rica</option>
                <option data-flag="🇨🇮">Côte D'Ivoire</option>
                <option data-flag="🇭🇷">Croatia</option>
                <option data-flag="🇨🇺">Cuba</option>
                <option data-flag="🇨🇾">Cyprus</option>
                <option data-flag="🇨🇿">Czech Republic</option>
                <option data-flag="🇰🇵">Democratic People's Republic of Korea</option>
                <option data-flag="🇨🇩">Democratic Republic of the Congo</option>
                <option data-flag="🇩🇰">Denmark</option>
                <option data-flag="🇩🇯">Djibouti</option>
                <option data-flag="🇩🇲">Dominica</option>
                <option data-flag="🇩🇴">Dominican Republic</option>
                <option data-flag="🇪🇨">Ecuador</option>
                <option data-flag="🇪🇬">Egypt</option>
                <option data-flag="🇸🇻">El Salvador</option>
                <option data-flag="🇬🇶">Equatorial Guinea</option>
                <option data-flag="🇪🇷">Eritrea</option>
                <option data-flag="🇪🇪">Estonia</option>
                <option data-flag="🇪🇹">Ethiopia</option>
                <option data-flag="🇫🇯">Fiji</option>
                <option data-flag="🇫🇮">Finland</option>
                <option data-flag="🇫🇷">France</option>
                <option data-flag="🇬🇦">Gabon</option>
                <option data-flag="🇬🇲">Gambia (Republic of The)</option>
                <option data-flag="🇬🇪">Georgia</option>
                <option data-flag="🇩🇪">Germany</option>
                <option data-flag="🇬🇭">Ghana</option>
                <option data-flag="🇬🇷">Greece</option>
                <option data-flag="🇬🇩">Grenada</option>
                <option data-flag="🇬🇹">Guatemala</option>
                <option data-flag="🇬🇳">Guinea</option>
                <option data-flag="🇬🇼">Guinea Bissau</option>
                <option data-flag="🇬🇾">Guyana</option>
                <option data-flag="🇭🇹">Haiti</option>
                <option data-flag="🇻🇦">Holy See</option>
                <option data-flag="🇭🇳">Honduras</option>
                <option data-flag="🇭🇺">Hungary</option>
                <option data-flag="🇮🇸">Iceland</option>
                <option data-flag="🇮🇳">India</option>
                <option data-flag="🇮🇩">Indonesia</option>
                <option data-flag="🇮🇷">Iran (Islamic Republic of)</option>
                <option data-flag="🇮🇶">Iraq</option>
                <option data-flag="🇮🇪">Ireland</option>
                <option data-flag="🇮🇱">Israel</option>
                <option data-flag="🇮🇹">Italy</option>
                <option data-flag="🇯🇲">Jamaica</option>
                <option data-flag="🇯🇵">Japan</option>
                <option data-flag="🇯🇴">Jordan</option>
                <option data-flag="🇰🇿">Kazakhstan</option>
                <option data-flag="🇰🇪">Kenya</option>
                <option data-flag="🇰🇮">Kiribati</option>
                <option data-flag="🇰🇼">Kuwait</option>
                <option data-flag="🇰🇬">Kyrgyzstan</option>
                <option data-flag="🇱🇦">Lao People’s Democratic Republic</option>
                <option data-flag="🇱🇻">Latvia</option>
                <option data-flag="🇱🇧">Lebanon</option>
                <option data-flag="🇱🇸">Lesotho</option>
                <option data-flag="🇱🇷">Liberia</option>
                <option data-flag="🇱🇾">Libya</option>
                <option data-flag="🇱🇮">Liechtenstein</option>
                <option data-flag="🇱🇹">Lithuania</option>
                <option data-flag="🇱🇺">Luxembourg</option>
                <option data-flag="🇲🇬">Madagascar</option>
                <option data-flag="🇲🇼">Malawi</option>
                <option data-flag="🇲🇾">Malaysia</option>
                <option data-flag="🇲🇻">Maldives</option>
                <option data-flag="🇲🇱">Mali</option>
                <option data-flag="🇲🇹">Malta</option>
                <option data-flag="🇲🇭">Marshall Islands</option>
                <option data-flag="🇲🇷">Mauritania</option>
                <option data-flag="🇲🇺">Mauritius</option>
                <option data-flag="🇲🇽">Mexico</option>
                <option data-flag="🇫🇲">Micronesia (Federated States of)</option>
                <option data-flag="🇲🇨">Monaco</option>
                <option data-flag="🇲🇳">Mongolia</option>
                <option data-flag="🇲🇪">Montenegro</option>
                <option data-flag="🇲🇦">Morocco</option>
                <option data-flag="🇲🇿">Mozambique</option>
                <option data-flag="🇲🇲">Myanmar</option>
                <option data-flag="🇳🇦">Namibia</option>
                <option data-flag="🇳🇷">Nauru</option>
                <option data-flag="🇳🇵">Nepal</option>
                <option data-flag="🇳🇱">Netherlands</option>
                <option data-flag="🇳🇿">New Zealand</option>
                <option data-flag="🇳🇮">Nicaragua</option>
                <option data-flag="🇳🇪">Niger</option>
                <option data-flag="🇳🇬">Nigeria</option>
                <option data-flag="🇳🇴">Norway</option>
                <option data-flag="🇴🇲">Oman</option>
                <option data-flag="🇵🇰">Pakistan</option>
                <option data-flag="🇵🇼">Palau</option>
                <option data-flag="🇵🇦">Panama</option>
                <option data-flag="🇵🇬">Papua New Guinea</option>
                <option data-flag="🇵🇾">Paraguay</option>
                <option data-flag="🇵🇪">Peru</option>
                <option data-flag="🇵🇭">Philippines</option>
                <option data-flag="🇲🇩">Poland</option>
                <option data-flag="🇵🇹">Portugal</option>
                <option data-flag="🇶🇦">Qatar</option>
                <option data-flag="🇰🇷">Republic of Korea</option>
                <option data-flag="🇲🇩">Republic of Moldova</option>
                <option data-flag="🇷🇴">Romania</option>
                <option data-flag="🇷🇺">Russian Federation</option>
                <option data-flag="🇷🇼">Rwanda</option>
                <option data-flag="🇰🇳">Saint Kitts and Nevis</option>
                <option data-flag="🇱🇨">Saint Lucia</option>
                <option data-flag="🇻🇨">Saint Vincent and the Grenadines</option>
                <option data-flag="🇼🇸">Samoa</option>
                <option data-flag="🇸🇲">San Marino</option>
                <option data-flag="🇸🇹">Sao Tome and Principe</option>
                <option data-flag="🇸🇦">Saudi Arabia</option>
                <option data-flag="🇸🇳">Senegal</option>
                <option data-flag="🇷🇸">Serbia</option>
                <option data-flag="🇸🇨">Seychelles</option>
                <option data-flag="🇸🇱">Sierra Leone</option>
                <option data-flag="🇸🇬">Singapore</option>
                <option data-flag="🇸🇰">Slovakia</option>
                <option data-flag="🇸🇮">Slovenia</option>
                <option data-flag="🇸🇧">Solomon Islands</option>
                <option data-flag="🇸🇴">Somalia</option>
                <option data-flag="🇿🇦">South Africa</option>
                <option data-flag="🇸🇸">South Sudan</option>
                <option data-flag="🇪🇸">Spain</option>
                <option data-flag="🇱🇰">Sri Lanka</option>
                <option data-flag="🇵🇸">State of Palestine</option>
                <option data-flag="🇸🇩">Sudan</option>
                <option data-flag="🇸🇷">Suriname</option>
                <option data-flag="🇸🇿">Swaziland</option>
                <option data-flag="🇸🇪">Sweden</option>
                <option data-flag="🇨🇭">Switzerland</option>
                <option data-flag="🇸🇾">Syrian Arab Republic</option>
                <option data-flag="🇹🇯">Tajikistan</option>
                <option data-flag="🇹🇭">Thailand</option>
                <option data-flag="🇲🇰">The former Yugoslav Republic of Macedonia</option>
                <option data-flag="🇹🇱">Timor-Leste</option>
                <option data-flag="🇹🇬">Togo</option>
                <option data-flag="🇹🇴">Tonga</option>
                <option data-flag="🇹🇹">Trinidad and Tobago</option>
                <option data-flag="🇹🇳">Tunisia</option>
                <option data-flag="🇹🇷">Turkey</option>
                <option data-flag="🇹🇲">Turkmenistan</option>
                <option data-flag="🇹🇻">Tuvalu</option>
                <option data-flag="🇺🇬">Uganda</option>
                <option data-flag="🇺🇦">Ukraine</option>
                <option data-flag="🇦🇪">United Arab Emirates</option>
                <option data-flag="🇬🇧">United Kingdom of Great Britain and Northern Ireland</option>
                <option data-flag="🇹🇿">United Republic of Tanzania</option>
                <option data-flag="🇺🇸">United States of America</option>
                <option data-flag="🇺🇾">Uruguay</option>
                <option data-flag="🇺🇿">Uzbekistan</option>
                <option data-flag="🇻🇺">Vanuatu</option>
                <option data-flag="🇻🇪">Venezuela</option>
                <option data-flag="🇻🇳">Viet Nam</option>
                <option data-flag="🇾🇪">Yemen</option>
                <option data-flag="🇿🇲">Zambia</option>
                <option data-flag="🇿🇼">Zimbabwe</option>
            </select>
        </div>
        <button class="col-xs-6 btn btn-submit" track-click data-ga-category="Petition" data-ga-action="Click" data-ga-label="Petition: Petition Submission">{{content.field_form_submit_label}}</button>
    </form>
                </article>
            </div>
            <div class="item data">
                <article>
                    {{content.field_panel_3_body}}
                </article>
            </div>
        </div>
        <ol class="carousel-indicators">
            <li data-target="#petition-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#petition-carousel" data-slide-to="1"></li>
            <li data-target="#petition-carousel" data-slide-to="2"></li>
        </ol>
    </div>
    <div id="petition-confirmation" class="confirmation">
        <article>
            {{content.field_confirmation_message}}
            <ul>
                <li social-share data-service="facebook" data-url="/petition">
                    <svg width="50px" height="50px" viewBox="0 0 50 50" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g id="Mobile" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="Home---Children-Drawer-Open---414" transform="translate(-145.000000, -3973.000000)" fill="#231F20">
                                <g id="Pillars" transform="translate(0.000000, 2041.000000)">
                                    <g id="icon-facebook" class="social-icon" transform="translate(6.000000, 377.000000)">
                                        <path d="M170.216889,1580.88024 L166.150014,1580.88024 L166.150014,1595.377 L160.122822,1595.377 L160.122822,1580.88024 L157.257967,1580.88024 L157.257967,1575.75612 L160.122822,1575.75612 L160.122822,1572.44218 C160.122822,1570.0689 161.250502,1566.36005 166.205311,1566.36005 L170.671354,1566.37726 L170.671354,1571.35063 L167.429793,1571.35063 C166.901963,1571.35063 166.151967,1571.6143 166.151967,1572.74637 L166.151967,1575.75759 L170.743864,1575.75759 L170.216889,1580.88024 Z M164,1555 C150.215155,1555 139,1566.21516 139,1580 C139,1593.78387 150.215155,1605 164,1605 C177.783868,1605 189,1593.78387 189,1580 C189,1566.21516 177.785699,1555 164,1555 L164,1555 Z" id="Page-1"></path>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </svg>
                </li>
                <li social-share data-service="twitter" data-url="/petition" data-tweet="{{content.field_tweet_text}}">
                    <svg width="50px" height="50px" viewBox="0 0 50 50" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g id="Mobile" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="Home---Children-Drawer-Open---414" transform="translate(-220.000000, -3973.000000)" fill="#231F20">
                                <g id="Pillars" transform="translate(0.000000, 2041.000000)">
                                    <g id="icon-twitter" class="social-icon" transform="translate(6.000000, 377.000000)">
                                        <path d="M250.152656,1574.27798 C250.163642,1574.52591 250.169379,1574.77578 250.169379,1575.02517 C250.169379,1582.62926 244.383397,1591.39399 233.796778,1591.39399 C230.54716,1591.39399 227.522029,1590.44453 224.976265,1588.81087 C225.426336,1588.86434 225.884586,1588.89156 226.349061,1588.89156 C229.045581,1588.89156 231.526037,1587.97127 233.495388,1586.42868 C230.978189,1586.38242 228.852467,1584.71873 228.120048,1582.43187 C228.47051,1582.49816 228.831959,1582.53527 229.201464,1582.53527 C229.726486,1582.53527 230.235761,1582.46715 230.718302,1582.33507 C228.086235,1581.80761 226.102968,1579.48218 226.102968,1576.69264 C226.102968,1576.66884 226.102968,1576.64357 226.103945,1576.62013 C226.87982,1577.05031 227.766656,1577.31019 228.709401,1577.33925 C227.166318,1576.30922 226.150698,1574.5469 226.150698,1572.55082 C226.150698,1571.49565 226.433411,1570.50664 226.928892,1569.65691 C229.765548,1573.13932 234.006982,1575.42898 238.788209,1575.6708 C238.689577,1575.2488 238.640383,1574.81057 238.640383,1574.35855 C238.640383,1571.18144 241.216298,1568.60455 244.393406,1568.60455 C246.049038,1568.60455 247.542439,1569.30364 248.593459,1570.42131 C249.905708,1570.16338 251.134462,1569.68609 252.248837,1569.02471 C251.815855,1570.36882 250.906558,1571.49565 249.715402,1572.20853 C250.880313,1572.06974 251.992246,1571.76164 253.020317,1571.30351 C252.253109,1572.45548 251.27704,1573.46927 250.152656,1574.27798 M239,1555 C225.215155,1555 214,1566.21516 214,1580 C214,1593.78387 225.215155,1605 239,1605 C252.783868,1605 264,1593.78387 264,1580 C264,1566.21516 252.785699,1555 239,1555" id="Page-1"></path>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </svg>
                </li>
            </ul>
        </article>
    </div>
    <article id="petition-full">
        <img id="petition-close" src="{{ theme_path }}/images/close-grey.svg">
            {{content.field_full_petition}}

    </article>
</section>
