<section id="section-stories" class="page site-section">
    <article>
        <span class="col-xs-12 col-md-6 lend-your-voice">
            <article>
                {{content.body}}
                <p class="hidden-xs hidden-sm"><a class="btn btn-cta" href="{{content.field_fb_filter_url}}" target="_blank">{{content.field_cta}}</a></p>
            </article>
        </span>
        <span class="col-xs-12 col-md-6 video">
            <article>
                {{content.field_fb_videos}}
            </article>
        </span>
        <a class="btn btn-cta hidden-md hidden-lg" href="{{content.field_fb_filter_url}}" target="_blank">{{content.field_cta}}</a>
    </article>
</section>
