<li>
	<img src="{{content.field_image}}" data-aos="fade-up">
	<article data-aos="fade-up">
		<h3>{{content.field_label}}</h3>
		<p>{{content.body}}</p>
		<div class="cta video-player" data-videoid="{{content.field_video_id|render|trim}}">{{content.field_cta}}</div>
	</article>
</li>