{# Displays the site footer #}

<footer class="cd-footer" role="contentinfo">
  <div class="cd-container cd-footer__inner">

    <div class="cd-footer__section cd-footer__section--donate">
      <a class="donate" href="https://crisisrelief.un.org/whd2020">{% trans %}Donate to crisis relief{% endtrans %}</a>
    </div>

    <div class="cd-footer__section cd-footer__section--menu">
      {{ page.footer_navigation }}
    </div>

    <div class="cd-footer__section cd-footer__section--logo">
      <div class="cd-footer-logo">
        <a href="https://www.humanitarianoutcomes.org" title="Humanitarian Outcomes website"><img class="humoutcomes-logo" src="/themes/custom/whd/img/logos/humoutcomes.svg" alt="{{ 'Humanitarian Outcomes logo'|t }}" /></a>
      </div>
      <div class="cd-footer-logo">
        <a href="https://aidworkersecurity.org" title="AWSD website"><img class="awsd-logo" src="/themes/custom/whd/img/logos/awsd.png" alt="{{ 'AWSD logo'|t }}" /></a>
      </div>
      <div class="cd-footer-logo">
        <a href="https://swift.co" title="Swift website"><img class="swift-logo" src="/themes/custom/whd/img/logos/swift.svg" alt="{{ 'Swift logo'|t }}" /></a>
      </div>
      <div class="cd-footer-logo">
        <a href="https://www.iaaglobal.org" title="IAA website"><img class="iaa-logo" src="/themes/custom/whd/img/logos/iaa.svg" alt="{{ 'IAA logo'|t }}" /></a>
      </div>
      <div class="cd-footer-logo">
        <a href="https://unfoundation.org" title="UN Foundation website"><img class="un-foundation-logo" src="/themes/custom/whd/img/logos/un-foundation.svg" alt="{{ 'UN Foundation logo'|t }}" /></a>
      </div>
    </div>

  </div>
</footer>
